# Node
node_modules/
dist/
.env
*.local

# Gradle & Android
.gradle/
build/
app/build/
*.apk
*.aab
local.properties
.idea/
*.iml
.DS_Store
.tools/

# Firebase & Google Services
app/google-services.json
google-services.json
